@import "tailwindcss";

@theme {
  --animate-rotate: rotate 4s linear infinite;

  --topography: url("../svg/topography.svg");
  --circuit-board: url("../svg/circuit-board.svg");

  @keyframes rotate {
    to {
      --border-angle: 360deg;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes waving {
  0%,
  60%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(-4deg);
  }
}

@keyframes line {
  0% {
    flex: 0;
  }
  100% {
    flex: 1;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
