---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Steam from "../svg/steam-svgrepo-com.svg";
import Xbox from "../svg/xbox-svgrepo-com.svg";
import PS from "../svg/playstation-svgrepo-com.svg";
import GOG from "../svg/gog-dot-com-svgrepo-com.svg";
import Epic from "../svg/epicgames-svgrepo-com.svg";
import Ubisoft from "../svg/ubisoft-svgrepo-com.svg";
import EA from "../svg/ea-svgrepo-com.svg";
import Battle from "../svg/Battle.net_2021_Icon.svg";
import GPG from "../svg/Google_Play_Games_(2022,_icon).svg";
import RG from "../svg/rockstargames.svg";
---

<Layout title="skncana | SKP">
  <header class="grid place-content-center justify-items-center gap-3 py-6">
    <h1 class="text-4xl">
      Halo. <span class="inline-block origin-[75%_75%] animate-[2.5s_waving_1s]"
        >👋</span
      >
    </h1>
    <p>Namaku Surya, Salam Kenal.</p>
  </header>
  <main class="grid content-start gap-4">
    <Section title="Profil Game">
      <Card
        username="stoeampo"
        external="https://steamcommunity.com/id/stoeampo/"
        delay={0}
      >
        <Steam slot="before" width={24} height={24} />
      </Card>
      <Card
        username="xaerag"
        external="https://www.xbox.com/play/user/xaerag"
        delay={0.1}
      >
        <Xbox slot="before" width={24} height={24} />
      </Card>
      <Card username="Snyment" delay={0.2}>
        <PS slot="before" width={24} height={24} />
      </Card>
      <Card username="wgoom" external="https://www.gog.com/u/wgoom" delay={0.3}>
        <GOG slot="before" width={24} height={24} />
      </Card>
      <Card username="eicaes" delay={0.4}>
        <Epic slot="before" width={24} height={24} />
      </Card>
      <Card username="Unnect" delay={0.5}>
        <Ubisoft slot="before" width={24} height={24} />
      </Card>
      <Card username="eltrona" delay={0.6}>
        <EA slot="before" width={24} height={24} />
      </Card>
      <Card username="Batnet#21157" delay={0.7}>
        <Battle slot="before" width={24} height={24} />
      </Card>
      <Card
        username="Rockstames"
        external="https://socialclub.rockstargames.com/member/Rockstames"
        delay={0.8}
      >
        <RG slot="before" width={24} height={24} />
      </Card>
      <Card username="Glyaes" delay={0.9}>
        <GPG slot="before" width={24} height={24} />
      </Card>
    </Section>
    <Section title="Profil Sosial">
      <li>
        <a href="https://www.instagram.com/skncana" class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
              style="stroke-dasharray: 58; stroke-dashoffset: 58"
              class="animate-[dash_both_1s]"></path>
          </svg>Instagram</a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/skncana" class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
              style="stroke-dasharray: 58; stroke-dashoffset: 58"
              class="animate-[dash_both_1s_0.1s]"></path>
          </svg>Facebook</a
        >
      </li>
      <li>
        <a href="https://t.me/skncana" class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
              style="stroke-dasharray: 58; stroke-dashoffset: 58"
              class="animate-[dash_both_1s_0.2s]"></path>
          </svg>Telegram</a
        >
      </li>
      <li>
        <a href="#" class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"
              style="stroke-dasharray: 58; stroke-dashoffset: 58"
              class="animate-[dash_both_1s_0.3s]"></path>
          </svg>Discord: skncana</a
        >
      </li>
      <li>
        <a href="mailto:skncana@proton.me" class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              style="stroke-dasharray: 44; stroke-dashoffset: 44"
              class="animate-[dash_both_1s_0.3s]"></path>
          </svg>Pos-el</a
        >
      </li>
    </Section>
    <Section title="Profil Mahasiswa">
      <li>
        <a href="mailto:surya_4131230315@pknstan.ac.id" class="flex gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              style="stroke-dasharray: 44; stroke-dashoffset: 44"
              class="animate-[dash_both_1s]"></path>
          </svg>Pos-el PKN STAN</a
        >
      </li>
    </Section>
  </main>
</Layout>
