---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Link from "../components/Link.astro";
import Steam from "../svg/steam-svgrepo-com.svg";
import Xbox from "../svg/xbox-svgrepo-com.svg";
import PS from "../svg/playstation-svgrepo-com.svg";
import GOG from "../svg/gog-dot-com-svgrepo-com.svg";
import Epic from "../svg/epicgames-svgrepo-com.svg";
import Ubisoft from "../svg/ubisoft-svgrepo-com.svg";
import EA from "../svg/ea-svgrepo-com.svg";
import Battle from "../svg/Battle.net_2021_Icon.svg";
import GPG from "../svg/Google_Play_Games_(2022,_icon).svg";
import RG from "../svg/rockstargames.svg";
---

<Layout title="skncana | SKP">
  <section class="grid place-content-center justify-items-center gap-3 py-6">
    <h1 class="text-4xl">
      Halo. <span class="inline-block origin-[75%_75%] animate-[2.5s_waving_1s]"
        >👋</span
      >
    </h1>
    <p>Namaku Surya, Salam Kenal.</p>
  </section>
  <main class="grid content-start gap-4">
    <Section title="Profil Game">
      <Card
        username="stoeampo"
        external="https://steamcommunity.com/id/stoeampo/"
        delay={0}
      >
        <Steam slot="before" width={24} height={24} />
      </Card>
      <Card
        username="xaerag"
        external="https://www.xbox.com/play/user/xaerag"
        delay={0.1}
      >
        <Xbox slot="before" width={24} height={24} />
      </Card>
      <Card username="Snyment" delay={0.2}>
        <PS slot="before" width={24} height={24} />
      </Card>
      <Card username="wgoom" external="https://www.gog.com/u/wgoom" delay={0.3}>
        <GOG slot="before" width={24} height={24} />
      </Card>
      <Card username="eicaes" delay={0.4}>
        <Epic slot="before" width={24} height={24} />
      </Card>
      <Card username="Unnect" delay={0.5}>
        <Ubisoft slot="before" width={24} height={24} />
      </Card>
      <Card username="eltrona" delay={0.6}>
        <EA slot="before" width={24} height={24} />
      </Card>
      <Card username="Batnet#21157" delay={0.7}>
        <Battle slot="before" width={24} height={24} />
      </Card>
      <Card
        username="Rockstames"
        external="https://socialclub.rockstargames.com/member/Rockstames"
        delay={0.8}
      >
        <RG slot="before" width={24} height={24} />
      </Card>
      <Card username="Glyaes" delay={0.9}>
        <GPG slot="before" width={24} height={24} />
      </Card>
    </Section>
    <Section title="Profil Sosial">
      <Link
        href="https://www.instagram.com/skncana"
        name="Instagram"
        type="social"
        delay={0}
      />
      <Link
        href="https://www.facebook.com/skncana"
        name="Facebook"
        type="social"
        delay={0.1}
      />
      <Link
        href="https://t.me/skncana"
        name="Telegram"
        type="social"
        delay={0.2}
      />
      <Link
        href="https://www.linkedin.com/in/suryakp"
        name="LinkedIn"
        type="social"
        delay={0.3}
      />
      <Link
        href="mailto:skncana@proton.me"
        name="Pos-el"
        type="email"
        delay={0.4}
      />
    </Section>
    <Section title="Profil Mahasiswa">
      <Link
        href="mailto:surya_4131230315@pknstan.ac.id"
        name="Pos-el PKN STAN"
        type="email"
        delay={0}
      />
    </Section>
  </main>
</Layout>
