---
interface Props {
	username: string;
	external?: string;
	delay: number;
}

const { username, external, delay } = Astro.props;

import External from '../svg/link-external-01-svgrepo-com.svg'
import Copy from '../svg/copy-03-svgrepo-com.svg'
---
<li class=`animate-[fade_both_1s]` style=`animation-delay: ${delay + 's'};`>
	<a href={external ? external : "#"} target={external ? "_blank" : "_self"} onclick={external ? '' : `navigator.clipboard.writeText('${username}')`}>
		<div class="flex gap-4 items-center p-4 border border-gray-300 rounded-lg shadow-md bg-white">
			<slot name="before" />
			<div class="flex-1">
				<p class="font-medium">{username}</p>
			</div>
			{external ? <External slot="after" size={24} /> : <Copy slot="after" size={24} />}
		</div>
	</a>
</li>