---
interface Props {
	username: string;
	share?: string;
	delay: number;
}

const { username, share, delay } = Astro.props;

import Share from '../svg/share-04-svgrepo-com.svg'
import Copy from '../svg/copy-06-svgrepo-com.svg'
---
<li>
	<a href={share ? share : "#"} target={share ? "_blank" : "_self"} onclick={share ? '' : `navigator.clipboard.writeText('${username}')`} class=`animate-[fade_both_1s]` style=`animation-delay: ${delay + 's'};`>
		<div class="flex gap-4 items-center p-4 border border-gray-300 rounded-lg shadow-md bg-white">
			<slot name="before" />
			<div class="flex-1">
				<p class="font-medium">{username}</p>
			</div>
			{share ? <Share slot="after" size={24} /> : <Copy slot="after" size={24} />}
		</div>
	</a>
</li>