---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="grid gap-1">
  <h2
    class="flex items-center text-lg after:ml-4 after:h-px after:animate-[line_both_1s] after:bg-black"
  >
    {title}
  </h2>
  <ul class="grid gap-2 sm:grid-cols-2 md:grid-cols-3">
    <slot />
  </ul>
</div>
