---
const { href, name, type, delay } = Astro.props;

import { ExternalLink, Send } from "@lucide/astro";
---

<li>
  <a
    href={href}
    class="flex items-center gap-1 hover:underline"
    target="_blank"
    rel="noopener noreferrer"
  >
    {
      type === "email" ? (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
            style={`stroke-dasharray: 44; stroke-dashoffset: 44; animation-delay: ${delay ?? 0}s`}
            class="animate-[dash_both_1s]"
          />
        </svg>
      ) : (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25"
            style={`stroke-dasharray: 58; stroke-dashoffset: 58; animation-delay: ${delay ?? 0}s`}
            class="animate-[dash_both_1s]"
          />
        </svg>
      )
    }
    {name}
    {type === "email" ? <Send size={12} /> : <ExternalLink size={12} />}
  </a>
</li>
